.main-skills  {
    display: flex;
}

.main-title {
    font-size: 35px;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 60px;
}

.main-title span {
    color: var(--color-primary);
    border-bottom: 1px solid rgb(81, 81, 205);
}

.container-skills {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    margin: 0 auto;
}


.front {
    border: 1px solid var(--color-primary);
    padding: 20px;
    margin-right: 40px;
    border-radius: 40px;
    width: 47%;
}


.name-1, .name-2, .database, .full, h4 {
    text-align: center;
}

h4 {
    color: var(--color-primary);
}

.database, .full {
    margin-top: 30px;
}

.html_css, .bootstrap-ui, .react-redux-toolkit,
.node-express {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.html:hover {
    background: linear-gradient( blue, rgb(89, 89, 215),rgb(52, 52, 236) );
}
.css:hover {
    background: linear-gradient( blue, rgb(89, 89, 215),rgb(52, 52, 236) );
}
.js:hover {
    background: linear-gradient( blue, rgb(89, 89, 215),rgb(52, 52, 236) );
}
.bootstrap:hover {
    background: linear-gradient( blue, rgb(89, 89, 215),rgb(52, 52, 236) );
}
.ui:hover {
    background: linear-gradient( blue, rgb(89, 89, 215),rgb(52, 52, 236) );
}
.react:hover {
    background: linear-gradient( blue, rgb(89, 89, 215),rgb(52, 52, 236) );
}
.redux:hover {
    background: linear-gradient( blue, rgb(89, 89, 215),rgb(52, 52, 236) );
}
.react-redux:hover {
    background: linear-gradient( blue, rgb(89, 89, 215),rgb(52, 52, 236) );
}
.redux-toolkit:hover {
    background: linear-gradient( blue, rgb(89, 89, 215),rgb(52, 52, 236) );
}
.node:hover {
    background: linear-gradient( blue, rgb(89, 89, 215),rgb(52, 52, 236) );
}
.express:hover {
    background: linear-gradient( blue, rgb(89, 89, 215),rgb(52, 52, 236) );
}
.next:hover {
    background: linear-gradient( blue, rgb(89, 89, 215),rgb(52, 52, 236) );
}
.mongo:hover {
    background: linear-gradient( blue, rgb(89, 89, 215),rgb(52, 52, 236) );
}


.html, .css, .bootstrap, .ui, .node, .express {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-primary);
    margin: 10px;
    padding: 8px;
    border-radius: 17px;
}

.html, .css, .bootstrap, .ui {
    width: 50%;
    justify-content: space-between;
}

.redux {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-primary);
    margin: 10px;
    padding: 8px;
    border-radius: 17px;
}

.react-redux, .redux-toolkit{
    display: flex;
    align-items: center;
    border: 1px solid var(--color-primary);
    margin: 10px;
    padding: 8px;
    border-radius: 17px;
}



.title {
    margin-right: 20px;
}



.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* JS */
.js, .react, .next, .mongo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 17px;
    border: 1px solid var(--color-primary);
}


.logo-js, .logo-react, .logo-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* back end */


.back {
    border: 1px solid var(--color-primary);
    padding: 20px;
    margin-right: 40px;
    border-radius: 40px;
    width: 43%;
}

@media (max-width: 1075px) {
    .container-skills {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-left: 20px;
    }

    .react-redux-toolkit {
        width: 100%;
    }

    .front {
        margin-bottom: 20px;
        width: 100%;
    }
    
    .back {
        width: 100%;
    }
}

@media (max-width: 670px) {
    .react-redux-toolkit, .bootstrap-ui, .node-express {
        display: flex;
        flex-direction: column;
    }

    .redux, .react-redux, .redux-toolkit, .bootstrap, .ui, .node, .express {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}


/*########### other skills ###########*/
.skill {
    padding: 0 0 50px 0;
    position: relative;
}

.skill-bx {
    background: #151515;
    border-radius: 60px;
    text-align: center;
    padding: 60px;
    margin-top: -60px;
}

.skill-bx .skill-title {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 500;
}

.skill-title span {
    color: var(--color-primary);
    border-bottom: 1px solid rgb(81, 81, 205);
}


.item .item-logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    transition: 5s ease-in;
}